name: build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build
        run: |
          npx grunt node
          node out-node/common/runtime/cmdline.js   --gpu-provider $(pwd)/fake-gpu.js   --verbose   "webgpu:shader,execution,expression,call,builtin,extractBits:u32:*"

      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: dawn-static-${{ matrix.target }}
      #     path: |
      #       build/gen/**/*
      #       build/lib/**/*

  release:
    runs-on: ubuntu-latest
    needs: build
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Create git tag
        id: create-git-tag
        run: |
          tag="autobuild-$(date -u '+%Y-%m-%d-%H-%M')"
          git tag $tag
          git push origin $tag
          echo "TAG=$tag" >> $GITHUB_OUTPUT
          echo "COMMIT=$(git --git-dir dawn/.git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Prepare artifacts
        run: |
          for target in win64 macos64 linux64 android; do
            echo "${{ steps.create-git-tag.outputs.COMMIT }}" > dawn-static-$target/COMMIT
            tar -czvf dawn-static-$target.tar.gz dawn-static-$target/*
          done

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ steps.create-git-tag.outputs.TAG }} dawn-static-*.tar.gz \
            -n "dawn@${{ steps.create-git-tag.outputs.COMMIT }}"
